DJANGO_SECRET_KEY = 'use-your-own-django-secret-key'
DEBUG = True
ALLOWED_HOSTS=localhost 127.0.0.1 backend
DB_NAME = 'anilist'
DB_USER = 'postgres'
DB_PASSWORD = 'password'
DB_HOST = 'anilist_db'
DB_PORT = '5432'

CORS_ALLOWED_ORIGINS = http://localhost:5173 http://localhost
CSRF_TRUSTED_ORIGINS = http://localhost:5173 http://localhost

ANILIST_API_URL = "https://graphql.anilist.co"

REACT_APP_DJANGO_USER_API_ENDPOINT = "http://127.0.0.1:8000/api/user/"
REACT_APP_DJANGO_LOGOUT_API_ENDPOINT = "http://127.0.0.1:8000/api/logout/"